[daemon]
user = odr
group = odr
cmd_sockets = /var/run/odr/cmd.sock
#cmd_socket_perms = 0666
# Processes run by which users or UIDs may connect?
cmd_socket_uids = openvpn
# Processes member of which groups or GIDs may connect?
#cmd_socket_gids =
# Specify a default realm in case the username contains none.
default_realm = vpn
secret = {{ passwords.openvpn_ipv6gen_secret }}
