{% set tun_ipv4_address = item.tun_ipv4_addresses[node_id-1] %}
{% set tun_ipv6_address = item.tun_ipv6_addresses[node_id-1] %}
#!/bin/sh

DEV_TUN="$1"
ACTION="$4"

ip link set $DEV_TUN up
ip -6 addr add {{ tun_ipv6_address }} dev $DEV_TUN
ip -6 route add {{ tun_ipv6_address | ipaddr('network') }}/{{ tun_ipv6_address | ipaddr('prefix') }} dev $DEV_TUN table {{ node_tr_ipv6.vlan_name }}
ip -6 rule add from {{ tun_ipv6_address | ipaddr('network')}}/{{ tun_ipv6_address | ipaddr('prefix')}} table {{ node_tr_ipv6.vlan_name }}
ip addr add {{ tun_ipv4_address }} dev $DEV_TUN
ip route add {{ tun_ipv4_address | ipaddr('network') }}/{{ tun_ipv4_address | ipaddr('prefix') }} dev $DEV_TUN table {{ node_tr_ipv4.vlan_name }}
ip rule add from {{ tun_ipv4_address | ipaddr('network')}}/{{ tun_ipv4_address | ipaddr('prefix')}} table {{ node_tr_ipv4.vlan_name }}
