dev {{ item.name }}_vpn
persist-tun

tun-ipv6

vlan-tagging
vlan-accept tagged
# vlan-strip-prio

{% if not item.legacy | default(false) and not item.comp_lzo_off | default(false) %}
comp-lzo no
{% endif %}

local {{ item.service_ip_address }}
port {{ item.service_port | default(1194) }}

# Wir sind der Server
mode server
proto {{ item.protocol }}

# allow client to client communication
client-to-client

# Wir weisen uns den Clients aus, damit sie niemand falschem ihr Passwort o.ä.
# verraten
tls-server
cert /etc/ssl/ovpn/cert.pem
key  /etc/ssl/ovpn/key.pem
ca   /etc/ssl/ovpn/chain.pem
dh   /etc/ssl/ovpn/dh4096.pem
tls-cipher TLS-DHE-RSA-WITH-AES-256-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-256-CBC-SHA:TLS-DHE-RSA-WITH-3DES-EDE-CBC-SHA:TLS-DHE-RSA-WITH-AES-128-CBC-SHA:TLS-DHE-RSA-WITH-SEED-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-128-CBC-SHA:TLS-DHE-RSA-WITH-DES-CBC-SHA
{% if not item.legacy | default(false) %}
tls-version-min 1.2
{% endif %}
# data channel cipher
{% if not item.legacy | default(false) %}
cipher AES-256-CBC
{% else %}
cipher AES-128-CBC
{% endif %}
{% if not item.legacy | default(false) %}
auth SHA384
{% endif %}
{% if item.lower_mtu is defined and item.lower_mtu %}

tun-mtu 1500
fragment 1300
mssfix
{% endif %}

#mlock
persist-key

client-cert-not-required
username-as-common-name
plugin /usr/lib/openvpn/openvpn-plugin-auth-pam.so {{ openvpn_node_group }}

client-connect /etc/openvpn/odr-ovpn-connect_{{ item.name }}
script-security 2
up /etc/openvpn/vpn-l2-up

tmp-dir /var/lib/openvpn/
cd /etc/openvpn/

keepalive 10 60

user openvpn
syslog ovpn-{{ item.name }}

management /var/run/openvpn.{{ item.name }}.sock unix
management-client-user odr

writepid /var/run/openvpn.{{ item.name }}.pid
status /var/run/openvpn.{{ item.name }}.status 10

reneg-sec 43200

{% if 'tcp' in item.protocol %}
socket-flags TCP_NODELAY

push "socket-flags TCP_NODELAY"
{% endif %}
