{% set tun_ipv4_address = item.tun_ipv4_addresses[node_id-1] %}
{% set tun_ipv6_address = item.tun_ipv6_addresses[node_id-1] %}
dev {{ item.name }}_vpn
persist-tun

{% if not item.comp_lzo_off | default(false) %}
comp-lzo no

{% endif %}
local {{ item.service_ip_address }}
port {{ item.service_port | default(1194) }}

# Wir sind der Server
mode server
proto {{ item.protocol }}

# do not allow client to client communication
#client-to-client

# Wir weisen uns den Clients aus, damit sie niemand falschem ihr Passwort o.ä.
# verraten
tls-server
cert /etc/ssl/ovpn/cert.pem
key  /etc/ssl/ovpn/key.pem
ca   /etc/ssl/ovpn/chain.pem
dh   /etc/ssl/ovpn/dh4096.pem
tls-cipher TLS-DHE-RSA-WITH-AES-256-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-256-CBC-SHA:TLS-DHE-RSA-WITH-3DES-EDE-CBC-SHA:TLS-DHE-RSA-WITH-AES-128-CBC-SHA:TLS-DHE-RSA-WITH-SEED-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-128-CBC-SHA:TLS-DHE-RSA-WITH-DES-CBC-SHA
tls-version-min 1.2
# data channel cipher
cipher AES-256-CBC
auth SHA384
{% if item.lower_mtu is defined and item.lower_mtu %}

tun-mtu 1500
fragment 1300
mssfix
{% endif %}

#mlock
persist-key

{{ item.openvpn_paramter_verify_cert | default ('verify-client-cert none') }}
username-as-common-name
plugin /usr/lib/openvpn/openvpn-plugin-auth-pam.so {{ openvpn_node_group }}

script-security 2
up /etc/openvpn/vpn-l3-{{ item.name }}-up

cd /etc/openvpn/

keepalive 10 60

user openvpn
syslog ovpn-{{ item.name }}

management /var/run/openvpn.{{ item.name }}.sock unix

writepid /var/run/openvpn.{{ item.name }}.pid
status /var/run/openvpn.{{ item.name }}.status 10

topology subnet
server {{ tun_ipv4_address | ipaddr('network') }} {{ tun_ipv4_address | ipaddr('netmask') }}
server-ipv6 {{ tun_ipv6_address | ipaddr('network') }}/{{ tun_ipv6_address | ipaddr('prefix') }}
push "topology subnet"
{% if item.split | default(false) %}
push "redirect-private"
{% elif item.protocol == 'udp' or item.protocol == 'tcp-server' or item.protocol == 'tcp' %}
push "redirect-gateway def1"
push "route-ipv6 2000::/3"
{% else %}
push "redirect-gateway def1 ipv6"
{% endif %}
{% if item.split | default(false) %}
{% for net in split_subnets_ipv4 %}
push "route {{ net | ipaddr('network') }} {{ net | ipaddr('netmask') }}"
{% endfor %}
{% for net in split_subnets_ipv6 %}
push "route-ipv6 {{ net }}"
{% endfor %}
{% endif %}
{% for resolver in resolvers_vpn %}
push "dhcp-option DNS {{ resolver }}"
{% endfor %}
push "dhcp-option DOMAIN kit.edu"

{% if 'tcp' in item.protocol %}
socket-flags TCP_NODELAY

push "socket-flags TCP_NODELAY"
{% endif %}
{% for option in item.extra_options | default([]) %}
{{ option }}
{% endfor %}
